{% extends "base.html" %}
{% block title %}
    Event Adminpanel - {{ name }}
{% endblock %}

{% block navbar %}
<!--<li><a href="{{ url_for('login_form') }}">Login</a></li>-->
{% endblock %}

{% block content %}
    <div class="infobar">
        <table>
            <tr>
                <th>Event Name</th>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <th>Hosted On</th>
                <td>
                    <a href="https://{{ instance_host }}">{{ instance }}</a>
                    {% if is_admin %}
                        <a href="{{ url_for('admin.instance_details', instance_id=instance) }}">(Admin Panel)</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>


    <!-- TODO show managers and settings. Add manager option? -->
    <div class="multipanel">
        <div class="instance-form bordered">
            <h3 class="text-center">Add event admin</h3>
            <form method="post" action="{{ url_for('event.add_event_manager', event_id=event_id) }}">
                <fieldset>
                    <p>
                        <label>
                            Username or Email

                            <input type="text" name="admin-identifier">
                        </label>
                    </p>
                    <p>
                        <input type="submit" name="submit" value="Link User">
                    </p>
                </fieldset>
            </form>
        </div>
        <div class="event-list bordered">
            <h3 class="text-center">Add an attendee</h3>
            <form method="post" action="{{ url_for('event.add_event_attendee', event_id=event_id) }}">
                <fieldset>
                    <p>
                        <label>
                            Username

                            <input type="text" name="username">
                        </label>
                        <label>
                            Group
                            <select name="group-id">
                            {% for group in groups %}
                                <option value="{{ group.groupId }}">
                                    {{ group.groupName }}
                                </option>
                            {% endfor %}
                            </select>
                        </label>
                    </p>
                    <p>
                        <input type="submit" name="submit" value="Create">
                    </p>
                </fieldset>
            </form>
        </div>
        <div class="event-list bordered">
            <h3 class="text-center">Create a group</h3>
            <form method="post" action="{{ url_for('event.add_event_group', event_id=event_id) }}">
                <fieldset>
                    <p>
                        <label>
                            Groupname

                            <input type="text" name="groupname">
                        </label>
                    </p>
                    <p>
                        <input type="submit" name="submit" value="Create">
                    </p>
                </fieldset>
            </form>

    </div>
{% endblock %}
