@import "menu.css";
@import "../branding/css/colors.css";
body {
    background: var(--rdy-darkblue);
    color: var(--rdy-white);
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.2em;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
