.instance-list {
    max-width: 30em;
}
.instance-form {
    max-width: 30em;
}
.event-list {
    max-width: 80em;
}

.manager-list {
 list-style-type: none;
}
.manager-list li {
    display: inline;
}
.manager-list li:not(:first-child)::before {
    content: ", ";
}

.spoiler {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.spoiler:hover {
    opacity: 1;
}
