.register-attendee {
    display: block;
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
    padding: 1em 1em 0 1em;
}
#regattendeeheadline {
    margin: 5em auto 1em auto;
}
#regattendeeheadline h5 {
    text-align: center;
    margin: 0;
}
#regattendeeheadline h2 {
    text-align: center;
    margin: 0;
}