{% extends "base.html" %}
{% block title %}
    Admin
{% endblock %}
{% block content %}
    <div class="multipanel">
        <table class="instance-list bordered">
            <thead>
            <tr>
                <td>Instance Name / Id</td>
                <td>Instance Hostname</td>
            </tr>
            </thead>
            <tbody>
            {% for instance in instances %}
                <tr>
                    <td>{{ instance.name }}</td>
                    <td>{{ instance.hostname }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            Placeholder to test multipanel
        </div>
        <div class="instance-form bordered">
            <h3 class="text-center">Register Instance</h3>
            <form method="post" action="{{ url_for('admin.register_instance') }}">
                <fieldset>
                    <p>
                        <label>
                            Instance Name
                            <input type="text" name="name">
                        </label>
                    </p>
                    <p>
                        <label>
                            Instance Hostname
                            <input type="text" name="hostname">
                        </label>
                    </p>
                    <p>
                        <input type="submit" name="submit" value="Register Instance">
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}