{% extends "base.html" %}
{% block title %}
    Admin
{% endblock %}
{% block content %}
    <div class="multipanel">
        <table class="instance-list bordered">
            <thead>
            <tr>
                <td>Instance Name / Id</td>
                <td>Instance Hostname</td>
            </tr>
            </thead>
            <tbody>
            {% for instance in instances %}
                <tr>
                    <td>
                        <a href="{{ url_for('admin.instance_details', instance_id=instance.name) }}">{{ instance.name }}</a>
                    </td>
                    <td>{{ instance.hostname }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- todo: Globale event liste -->
        <table class="bordered instance-list"><!-- Reusing classes, aren't we? -->
            <thead>
            <tr>
                <th colspan="3">
                    Event manager
                </th>
            </tr>
            <tr>
                <td>Username</td>
                <td>Email</td>
                <td>Is Site Admin</td>
            </tr>
            </thead>
            <tbody>
            {% for manager in managers %}
                <tr>
                    <td>{{ manager.username }}</td>
                    <td>{{ manager.email }}</td>
                    <td>{{ manager.site_admin }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No managers yet</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div>
            Placeholder to test multipanel
        </div>
        <div class="instance-form bordered">
            <h3 class="text-center">Register Instance</h3>
            <form method="post" action="{{ url_for('admin.register_instance') }}">
                <fieldset>
                    <p>
                        <label>
                            Instance Name
                            <input type="text" name="name">
                        </label>
                    </p>
                    <p>
                        <label>
                            Instance Hostname
                            <input type="text" name="hostname">
                        </label>
                    </p>
                    <p>
                        <label>
                            API Key
                            <input type="text" name="api_key">
                        </label>
                    </p>
                    <p>
                        <input type="submit" name="submit" value="Register Instance">
                    </p>
                </fieldset>
            </form>
        </div>
        <div class="instance-form bordered">
            <h3 class="text-center">Register Event</h3>
            <form method="post" action="{{ url_for('admin.register_event') }}">
                <fieldset>
                    <p>
                        <label>
                            Event Name
                            <input type="text" name="name">
                        </label>
                    </p>
                    <p>
                        <label>
                            Instance Hostname
                            <select name="instance">
                                {% for instance in instances %}
                                    <option value="{{ instance.name }}">
                                        {{ instance.name }}(
                                        <pre>{{ instance.hostname }}</pre>
                                        )
                                    </option>
                                {% endfor %}

                            </select>
                        </label>
                    </p>
                    <p>
                        <input type="submit" name="submit" value="Register Event">
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
