<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="{{ url_for('static', filename='branding/png/logo_simpel.png') }}"
          type="image/x-icon">
    <title>
        {% block title %}
            Missing title
        {% endblock %}
    </title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap">
    <link rel="stylesheet" href="//css.gg/menu.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for category, message  in messages %}
                <li class="flash flash-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<header>
    <div class="navigation-toggle" id="navigation-toggle"><i class="gg-menu"></i></div>
    <nav class="navigation-container navigation-collapsed" id="navigation-container">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='branding/png/logo_schrift.png') }}" alt="logo" class="logo"></a>
        <ul class="navigation-list" id="navigation-list">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if logged_in %}
            {% endif %}
            {% if is_admin %}
            <li><a href="{{ url_for('admin.index') }}">Site-Admin</a></li>
            {% endif %}
            <li><a href="mailto:kontakt@readytogoout.games">Contact</a></li>
        </ul>
    </nav>
</header>
<div>
    {% block content %}
        Missing content
    {% endblock %}
</div>
{% block scripts %}
{% endblock %}
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>
