{% extends "base.html" %}
{% block title %}
    Instance {{ name }}
{% endblock %}
{% block content %}
    <div class="infobar">
        <table>
            <tr>
                <th>Name</th>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <th>Hostname</th>
                <td><a href="http://{{ hostname }}"><pre>{{ hostname }}</pre></a></td>
            </tr>
            <tr>
                <th>API Key</th>
                <td class="bordered"><span class="spoiler">{{ api_key }}</span></td>
            </tr>
        </table>
    </div>
    <div class="multipanel">
        <table class="bordered event-list">
            <thead>
            <tr>
                <th colspan="3">Events</th>
            </tr>
            <tr>
                <td>Event Id</td>
                <td>Event Name</td>
                <td>Event Managers</td>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td><a href="{{ url_for('event.admin', event_id=event.event_id) }}">{{ event.event_id }}</a></td>
                    <td>{{ event.name }}</td>
                    <td>
                        <ul class="manager-list">
                            {% for manager in managers[event.event_id] %}
                                <li>{{ manager }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No Events yet</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}