<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}No Title{% endblock %} - Ready To Go Out</title>
    </head>
    <body>
        <div>
            {% block content %}
            No Content
            {% endblock %}
        </div>
        <footer style="margin-top: 2rem;">
            <hr>

           Falls du Fragen oder Anregungen hast, kannst du uns jederzeit unter <a href="mailto:kontakt@readytogoout.games">kontakt@readytogoout.games</a> kontaktieren.

            &copy; <a href="https://readytogoout.games">Ready To Go Out</a>
        </footer>
    </body>
</html>