{% extends "mail/base_plain.html" %}
{% block content %}
[INTERN] Eine neue Anmeldung für Ready to go out ist bei uns eingegangen.

Vorname: {{ application.first_name | safe }}
Name: {{ application.last_name | safe }}
Email: {{ application.email | safe }}
Anzahl der Spieler: {{ application.count | safe }}
Nachricht des Eventmanagers:

{{ application.message | safe }}


Die Registrierung wurde hier erfasst: {{ url_for('admin.application', application_id=application.application_id) }}
{% endblock %}