{% extends "mail/base.html" %}
{% block content %}
    <p>[INTERN] Eine neue Anmeldung für Ready to go out ist bei uns eingegangen.</p>
    <div>
        <table>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Email</th>
                <th>Anzahl der Spieler</th>
                <th>Nachricht des Eventmanagers</th>
            </tr>
            <tr>
                <td>{{ application.first_name }}</td>
                <td>{{ application.last_name }}</td>
                <td><a href="mailto:{{ application.mail }}">{{ application.email }}</a></td>
                <td>{{ application.count }}</td>
                <td><pre>{{ application.message }}</pre></td>
            </tr>
        </table>
    </div>
    <span>
    Die Registrierung wurde hier erfasst: {{ url_for('admin.application', application_id=application.application_id) }}
    </span>
{% endblock %}